@import "@fontsource-variable/geist";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mouse-x: 0px;
  --mouse-y: 0px;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Geist Variable", system-ui, sans-serif;
}